npm-debug.log
.DS_Store

*.js.map
*.metadata.json
app/**/*.js
app/**/*.css
npm-debug.log

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

hooks/
lib/
node_modules/
platforms/
tmp/
typings/

